<ul id="menu-top" class="menu">
  <li id="menu-item-11706" class="menu-item menu-item-type-post_type menu-item-object-page"><a
      href="https://www.marwadiuniversity.ac.in/image-gallery/"><span class="meni-item-text">Image
        Gallery</span></a></li>
  <li id="menu-item-35380" class="menu-item menu-item-type-custom menu-item-object-custom"><a target="_blank"
      href="https://www.marwadiuniversity.ac.in/360-virtual-tour"><span class="meni-item-text">360° Virtual
        Tour</span></a></li>
  <li id="menu-item-10020" class="popmake-33986 menu-item menu-item-type-custom menu-item-object-custom pum-trigger"
    style="cursor: pointer;"><a href="tel:+912817123456"><span class="meni-item-text">Admission Helpline: (+91)
        281 – 7123456</span></a></li>
  <li id="menu-item-16883" class="header-login menu-item menu-item-type-custom menu-item-object-custom"><a
      href="https://marwadieducation.edu.in/MEFOnline"><span class="meni-item-text">Login</span></a></li>
  <li id="menu-item-21066" class="menu-item menu-item-type-custom menu-item-object-custom"><a target="_blank"
      href="https://library.marwadieducation.edu.in"><span class="meni-item-text">Library</span></a></li>
  <li id="menu-item-32654" class="header-login menu-item menu-item-type-custom menu-item-object-custom"><a
      target="_blank" href="http://gradehistory.marwadiuniversity.ac.in/"><span
        class="meni-item-text">GradeHistory</span></a></li>
  <li id="menu-item-33982" class="icon-whtsapp menu-item menu-item-type-custom menu-item-object-custom"><a
      href="https://api.whatsapp.com/send?phone=+91-8980030090&amp;text=Hello"><span
        class="meni-item-text">+91-8980030090</span></a></li>
</ul>
<div class="sub-header-wrapper">
  <img width="250" alt="Angular Logo" src="assets/mar.png">
  <ul class="sub-menu">  
    <li class="sub-menu-item"><a class="link" routerLink="btech">B. TECH</a></li>
    <li class="sub-menu-item"> <a class="link" routerLink="mca">MCA</a></li>
    <li class="sub-menu-item"><a class="link" routerLink="mba">MBA</a></li>
    <li class="sub-menu-item">
      Bba
    </li>
    <li class="sub-menu-item">
      Law
    </li>
    <li class="sub-menu-item">
      Diploma
    </li>
    <li class="sub-menu-item">
      B pharma
  
    </li>
  </ul>
</div>



<router-outlet></router-outlet>